<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI</title>
</head>
<body>
<ul>
    <li><a href="/ai/face/faceDetection">人脸检测</a></li>
    <li><a href="/ai/face/faceTwoToTwo">人脸两两比对</a></li>
    <li><a href="/ai/face/faceRegistered">人脸注册</a></li>
    <li><a href="/ai/face/faceRecognition">人脸识别</a></li>
    <li><a href="/ai/face/faceGroupList">组列表查询</a></li>
    <li><a href="/ai/face/faceGroupUsers">组内用户列表查询</a></li>
    <li><a href="/ai/face/faceGroupUser">组间复制用户</a></li>
</ul>
</body>
</html>