<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$data.title}</title>
    <link rel="stylesheet" href="book/css/layout-content.css">
</head>
<body>
<div class="layout_top">
    <div class="layout_top_centre">
        <div class="layout_top_left">
            <p>欢迎来到无为书城</p>
        </div>
        <div class="layout_top_right">
            <p><a href="javascript:void(0)" class="layout_top_right_login">登录</a> | <a href="javascript:void(0)" class="layout_top_right_register">注册</a></p>
        </div>
    </div>
</div>
<div class="layout_nav">

</div>
{__CONTENT__}
</body>
</html>