<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图像审核</title>
</head>
<body>
<ul>
    <li><a href="/ai/image/antiPorn">色情识别</a></li>
    <li><a href="/ai/image/antiPornGif">GIF色情图像识别</a></li>
    <li><a href="/ai/image/antiTerror">暴恐图像识别</a></li>
    <li><a href="/ai/image/faceAudit">头像审核</a></li>
    <li><a href="/ai/image/imageCensorComb">组合审核</a></li>
</ul>
</body>
</html>